/* es la caja o mas bien el fondo */
*{box-sizing:border-box;}

/*  las dimensiones del fondo */
form{
	width:400px;
	padding:11px;
	border-radius:10px;
	margin:auto;
	background-color:rgb(144, 206, 137);
}
/* hace que los cubos de respuesta seas mas elegantes*/
form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}
/* de aqui para abajo tiene que ver con botones, como el color de la letra, del relleno entre otros*/

form input[type="text"]{
	width: 200p;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:80%;
	padding:10px 18px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:30px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

